.leaflet-container {
  width: 80%;
  height: 35vh;
  border-radius: 0.5rem;
}

.details {
  padding-top: 3rem;
  height: 100%;

  .map {
    margin: 0 0;
    margin-bottom: 2rem;
    width: 75%;

    .c-map {
      height: 78.5vh;
      border-radius: 30px;
    }
  }

  .item {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2%;
    width: 100%;
    margin-bottom: 12px;

    p {
      font-size: 15px;
    }

    img {
      width: 5rem;
      height: 5rem;
    }
  }

  .item:nth-child(even) {
    border-radius: 0.5rem;
  }

  .item:nth-child(odd) {
    background: #ffffff34;
    border-radius: 0.5rem;
  }
}

.details-container {
  display: flex;
  justify-content: center;

  .contry-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// ========= Mobile view ===========
@media (max-width: 600px) {
  .leaflet-container {
    width: 90vw;
    height: 70vh;
    border-radius: 0.5rem;
  }

  .details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 3%;

    .map {
      height: 40vh;

      .c-map {
        height: 40vh;
      }
    }
  }
}
