.countries {
  padding: 5%;

  .world_map_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    img {
      cursor: pointer;
      margin-bottom: 10px;
      width: 60%;
    }

    h2 {
      font-size: 10px;
    }
  }

  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 2rem;

    li {
      padding: 1rem;
      border-radius: 1rem;
      cursor: pointer;

      .list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        h2 {
          font-size: 1.8rem;
          font-weight: 600;
          color: #fff;
        }

        a {
          font-size: 2rem;
          color: var(--text-color);
        }
      }

      img {
        height: 50%;
        width: 100%;
        object-fit: contain;
      }

      &:hover {
        transform: scale(1.1);
      }

      .item {
        align-items: center;
        color: #fff;
        display: flex;
        justify-content: space-between;
        margin: 5px;

        p {
          font-size: 10px;
          overflow-wrap: break-word;
          word-wrap: break-word;
          hyphens: auto;
          white-space: nowrap;
        }
      }
    }
  }
}

.container {
  background: rgba(255, 157, 0, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
}

.loader-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.select-country {
  margin-bottom: 9rem;
}

@media (max-width: 600px) {
  .countries {
    padding: 3%;
    height: auto;

    .world_map_container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      img {
        cursor: pointer;
        margin-bottom: 10px;
        width: 50%;
      }

      h2 {
        font-size: 12px;
        font-weight: 300;
      }
    }

    .row {
      gap: 2rem;

      li {
        padding: 1rem;
        border-radius: 1rem;
        cursor: pointer;

        .list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;

          h2 {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
          }

          a {
            font-size: 2rem;
            color: var(--text-color);
          }
        }

        img {
          height: 50%;
          width: 100%;
          object-fit: contain;
        }

        &:hover {
          transform: scale(1.1);
        }

        .item {
          margin: 3px;

          p {
            font-size: 12px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .select-country {
    font-size: 16px;
  }
}
