.nav_bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 7%;
  z-index: 999;
  background-color: #e93077;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  .nav_left {
    display: flex;
    align-items: center;

    a {
      font-size: 3rem;
      color: var(--text-color)
    }

    p {
      font-size: medium;
      text-align: center;
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-right: 45%;
  }
}

.footer {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #e93077;
  text-align: center;
}

.love {
  color: rgb(189, 0, 0);
}
