@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');

:root {
  --bg-color: #ec4c8a;
  --primary-color: #ff6da57a;
  --text-color: #fff;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-family: 'Lato', sans-serif;
  list-style: none;
  transition: all 0.3s linear;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: rgb(236,76,138);
  background: linear-gradient(180deg, rgb(243, 97, 153) 34%, rgb(255, 0, 98) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

section {
  padding: 2rem 6rem;
}

.switch {
  position: absolute;
  top: 95px;
  right: 38px;
}

.switch label {
  font-size: 25px;
  margin-right: 10px;
  color:  rgb(255, 166, 0);
}

#shadow-host-companion {
  display: none;
}

#dark {
  background: rgb(0,39,108);
  background: linear-gradient(180deg, rgba(0,39,108,1) 5%, rgba(0,5,23,1) 67%);
}

#dark .nav_bar {
  background: rgb(1, 50, 136);
}

#dark .footer {
  background: rgb(1, 50, 136);
}

#dark .world_map {
  background: url(./images/earth.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#dark .stats h3 {
  background: #0004ff57;
}

#dark .item:nth-child(odd){
  background: #0084ff44
}

#dark .select {
  background-color: rgb(1, 50, 136);
}

#dark .switch label {
  color: #fff;
}
