@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');

:root {
  --bg-color: #ec4c8a;
  --primary-color: #ff6da57a;
  --text-color: #fff;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-family: 'Lato', sans-serif;
  list-style: none;
  transition: all 0.3s linear;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: rgb(236,76,138);
  background: linear-gradient(180deg, rgba(236,76,138,1) 34%, rgba(0,0,0,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

section {
  padding: 2rem 6rem;
}

#shadow-host-companion {
  display: none;
}
